  @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    --background-check: #F1F1F1;
    --background-submit: #0E2E35;
    --background-bell: #F5F5F5;
    --background-checked: #27AE60;
    --header-border: #E0E0E0;
  }

  .check-background {
    background-color: var(--background-check);
  }

  .bell-background {
    background-color: var(--background-bell);
  }

  .checked-background {
    background-color: var(--background-checked);
  }

  .border-grey {
    border-color: var(--header-border);
  }

  input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 20px;
  }
  
  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    background: #ccc;
    border-radius: 20px;
  }

  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    border: 1.75px solid white;
    /*  slider progress trick  */
    box-shadow: -410px 0 0 400px #155E75;
  }
  
  input:focus {
    outline: none; 
  }
  select:focus{
    outline: none;
  }
  .no-spin-button {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  .no-spin-button::-webkit-inner-spin-button,
.no-spin-button::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}