:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --background: #FBFBFB;
  --background-check: #F1F1F1;
  --primary: #155E75;
}

html {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background-auth {
  background-color: var(--background);
}

.check-background {
  background-color: var(--background-check);
}

.primary-bg {
  background-color: var(--primary) !important;
}